{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-5 mb-4">List Accounts</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Account Holder</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Email</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account[1] }}</td>
                    <td>{{ account[2] }}</td>
                    <td>{{ account[3] }}</td>
                    <td>{{ account[4] }}</td>
                    <td>{{ account[5] }}</td>
                    <td>{{ account[6] }}</td>
                    <td>
                        <button class="btn btn-danger" onclick="confirmCloseAccount({{ account[0] }})">Close Account</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% block scripts %}
        <script>
            function confirmCloseAccount(accountId) {
                if (confirm("Are you sure you want to close your account? This can't be undone!")) {
                    window.location.href = "/close_account/" + accountId;
                }
            }
        </script>
    {% endblock %}
{% endblock %}
